
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <ul>
            <li><a href="@Url.Action("Index", "Stack")">Stack</a></li>
            <li><a href="@Url.Action("Index", "Queue")">Queue</a></li>
            <li><a href="@Url.Action("Index", "Dictionary")">Dictionary</a></li>
            <li><a href="@Url.Action("Index", "Exit")">Exit</a></li>
        </ul>
    </div>
    <div>
        <img src="~/Content/Graphics/gandy_meme.jpg" />
    </div>

</body>
</html>
