
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <ul>
            <li><a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Stack</a></li>
            <li><a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button">Queue</a></li>
            <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Dictionary</a></li>
            <li><a href="@Url.Action("Index", "Exit")" class="w3-bar-item w3-button">Exit</a></li>
        </ul>
    </div>

</body>
</html>
