

<!DOCTYPE html>

<!--Write an ASP.NET Web Aplication (.NET Framework) in C# that demonstrates the use of a Stack, Queue, and Dictionary (Map). I want you to start trying to use GitHub for this assignment with your group.

Make sure you document your code. This might seem like a big program but it really isn't since a lot of the code is copied and reused. In fact, it might be a good idea as a group to divide up the work and then try to bring it all together into one project.

When completed, one team member needs to zip the project and upload to Learning Suite and make sure code is committed to GitHub.

As a group, schedule a time with the TAs for grading
    
    Adam Peterson, Madi Crofts, Whitney Garrett, Logan Lund -->

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <script src="~/Scripts/script.js"></script>
    <style>
        body {
            background-color: #92d3c3;
        }
    </style>
    <title>Index</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <ul>
            <li><a href="@Url.Action("Index", "Stack")">Stack</a></li>
            <li><a href="@Url.Action("Index", "Queue")">Queue</a></li>
            <li><a href="@Url.Action("Index", "Dictionary")">Dictionary</a></li>
            <li><a href="@Url.Action("Index", "Exit")">Exit</a></li>
        </ul>
    </div>
    <div>
        <img src="~/Content/Graphics/gandy_meme.jpg" class="center"/>
    </div>

</body>
</html>
